# Ignore build artifacts
dist/
build/

# Ignore IDEA and vscode
.idea/
.vscode/

# Ignore PyInstaller spec files
*.exe.spec

# Ignore Python virtual environment
venv/

# Ignore all pycaches
*__pycache__
